<h1>Ejercicio - Entrevista - Dirmod v1.0</h1>
<p>Desarrollado por: Gustavo Jimenez, usando:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> y <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para codificación cross-platform server-side</li>
  <li><a href='https://angular.io/'>Angular</a> y <a href='http://www.typescriptlang.org/'>TypeScript</a> para código del client-side</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> para formato y estilo</li>
</ul>
<p>Requerimientos:</p>
<ul>
  <li>Implementar una Web Api RESTful que retorne las cotizaciones de, al menos, 3 monedas.</li>
  <li>Obtener Cotizacion Tasa de Cambio de: BCRA ó api.cambio ó api.wahrungsrechner.org ó apilayer.net/api/</li> 
  <li>Implementación de FrontEnd/Ux/Interfaz de Usuario para visualizar las 3 cotizaciones, refrescandose automáticamente cada 5 seg</li>
</ul>

<p>Para acceder a las API de cotizaciones de tasa de cambio es requerido una Clave de acceso. Normalmente hay un límite de las consultas para las cuentas gratis. Si se hacen consultas cada 5 seg, el sistema podria alcanzar el máximo muy rapido arrojando un error. </p>
